$black: #070606;
$grey-color: #ededed;
$babybliss-green: #50ae7c;
$babybliss-green-2: #34904b;
$babybliss-orange: #fe730c;
$babybliss-red: #fe0c0c;
$babybliss-orange-light: #ffc59a;
$card-border: rgba(52, 144, 75, 0.21);
$black-rule: rgba(7, 6, 6, 0.24);
$black-link: rgba(7, 6, 6, 0.65);

$layout-breakpoint-small: 414px;
$layout-breakpoint-medium: 768px;